@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@plugin "tailwindcss-animate";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "odyssey";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f8f8f8;
  --color-base-300: #eeeeee;

  --color-base-content: #18181b;
  --color-primary: #4d0000;
  --color-primary-content: #f6f5f4;
  --color-secondary: #35b5ac;
  --color-secondary-content: #18181b;
  --color-accent: #ffcc02;
  --color-accent-content: #18181b;
  --color-neutral: #09090b;
  --color-neutral-content: #e4e4e7;

  --color-info: #00bafe;
  --color-info-content: #042e49;
  --color-success: #41b97b;
  --color-success-content: #032413;
  --color-warning: #fca000;
  --color-warning-content: #43020a;
  --color-error: #ff637d;
  --color-error-content: #4d0218;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: "Inter", ui-sans-serif;
  --font-serif: "Playfair Display", serif;

  /* Colors */
  --color-maroon: #4d0000;
  --color-light-maroon: #a40235;
  --color-odyssey-yellow: #ffcc02;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}
