name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '24'
      - name: install
        run: npm install
      - name: ESLint
        run: npm run lint
      - name: Prettier
        run: npm run format:check
  
